body{
    display: grid;
    grid-template-areas: 
    "hedear hedear hedear"
    "nav section aside"
    "footer footer footer"
    
    ;
    
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100vh;
    margin: 10px;
    
}

header{
    grid-area: hedear;
    background: rgb(164, 155, 155);
}
nav{
    grid-area: nav;
    background:#6f65dc;
}
section{
    grid-area: section;
    background: #9c99bb;
}
aside{
    grid-area: aside;
    background: #bba199;

}
footer{
    grid-area: footer;
    background: #cebb8d;
    
}

header , nav , section , aside , footer{

    margin: 2px 2px;
    color: hsl(0, 0%, 0%);
    text-align: center;
    
    
}